# Gamma 600 (prototype, no PSRAM) overrides.
#
# Use via:
#   idf.py -DSDKCONFIG_DEFAULTS="sdkconfig.defaults;sdkconfig.gamma600.defaults" build
#
CONFIG_SPIRAM=n
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=n
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=n
CONFIG_SPIRAM_IGNORE_NOTFOUND=n
CONFIG_ESP_MINER_LIGHTWEIGHT_RAM=y
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_LWIP_IPV6=n
CONFIG_LWIP_IPV6_AUTOCONFIG=n
CONFIG_MBEDTLS_SSL_PROTO_TLS1_3=n
