# Gamma 600 (prototype, no PSRAM) overrides.
#
# Use via:
#   idf.py -DSDKCONFIG_DEFAULTS="sdkconfig.defaults;sdkconfig.gamma600.defaults" build
#
CONFIG_SPIRAM=n
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=n
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=n
CONFIG_SPIRAM_IGNORE_NOTFOUND=n
